*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* width: 1600px; */
    /* height: 92px; */
    align-items: center;
    
}
nav .list{
    display: flex; 
   gap: 32px;
   align-items: center;

}
nav .list p a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
nav .list p{
    justify-content: space-between;
}

    
nav  .btn a {
    align-items: center;
}
.logo img{
margin-left: 120px;
width: 139px ;height: 60px;
}
nav .btn {
   background-color: #30B868;
   border: none;
   border-radius:4px ;
   font-size: 16px;
   font-weight: 600;
   line-height: 19px;
   color: #FFFFFF;
   padding: 12px 16px;
   margin-right: 120px;
   cursor: pointer;
   
}
#banner .banner-container{ 
    background-image: url(../assets/hero-bg.png);
    padding-top: 115px;
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#banner .banner-container h3{
    width: 15%;
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 12px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 16px;
    color:#30B868;
    background-color: #FFFFFF;
}
#banner .banner-container h1{
    font-size: 72px;
    color: #FFFFFF;
}
#banner .banner-container .green{
    color: #30B868;
}
#banner .banner-container p{
    font-size: 18px;
    color: #FFFFFF;
    width: 45%;
    margin-bottom: 32px;
}
.banner-container .btn{
    font-size: 16px;
    font-style:600px;
    padding: 12px 16px;
}
.btn2{
    background: transparent;
    color: white;
}
.btn1{
    background-color: #30B868;
    color: white;
}

.note-container .heading{
    width: 1360px;
    height: 153px;
    margin-right: 120px;
    margin-left: 120px;
   
}
.heading h1{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 16px;
}
.heading p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}
.card-box{
    width: 1360px;
    height: 300px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.card{
    width: 322px;
    height: 300px;
    text-align: center;
}
.card h4{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}
.card .p{
   font-size: 16px;
    color: #627382;
    text-align: center;
    margin-bottom: 44px;
}
.card img{
    background-color: red;
    width: 50px;
    height: 50px;
    
   /* border-width: 60px; */
   /* border: 2px; */
   padding: 10px;
  border-radius: 80px;
}
.brain-info{
    width: 1600px;
    height: 840px;
    display: flex;
     align-items: center;
     /* justify-content: space-between; */
    gap: 60px;
}
.brain-info .image{
    width: 600px;
    height: 600px;
margin-top: 120px;
margin-left: 120px;
margin-bottom: 120px;

}
.brain-details{
    width: 700px;
    height: 397px;
    margin-bottom: 100px;
    margin-top: 100px;
}
#brain .brain-details h4{
    font-size: 16px;
  font-style: 500px;
   
    margin-bottom: 16px;
    color: #30b869a2
}
#brain .brain-details h3{
    font-size: 48px;
    width: 700px; 
    height: 117px;
    text-align: left;
    font-style: 700px;
    margin-bottom: 16px;
 line-height: 58px;
    
}
.break{
    display: block;
}
.brain-details .info{
    font-size: 16px;
   font-weight: 400;
   line-height: 20px;
    color: #627382;
    width: 550px;
     height: 60px; 
 text-align: left;
   margin-bottom: 40px;
   padding-right: 90px;
   
}
.sighn {
width: 700px;
height: 128px;
margin-bottom: 100px;
margin-right: 120px;

}
.sighn p{
margin-bottom: 16px;
font-size: 13px;
color: #001931;
font-style: 500;
}
.sighn img{
vertical-align: middle;
}
#think{
    width: 1600px;
    height: 507px;
}
#think .think-clear{
    width: 1360px;
    height: 385px;
    text-align: center;
    background-color: #F7F6F2;
    margin-left: 120px;
    margin-right: 120px;
    padding: 80px 40px;

}
#think .think-clear h1{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}
#think .think-clear p{
    font-size: 16px;
    font-weight: 400;
    color:#627382;
    margin-bottom: 14px;
}
#think .btn{
    background-color: #12b455;
    color: #FFFFFF;
    border: none;
    border-radius:row;
   padding: 12px 16px;
   margin-bottom: 16px;
}
#think .btn img{
    vertical-align: middle;
}


