*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* width: 1600px; */
    /* height: 92px; */
    align-items: center;
    
}
nav .list{
    display: flex; 
   gap: 32px;
   align-items: center;

}
nav .list p a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
nav .list p{
    justify-content: space-between;
}

    
nav  .btn a {
    align-items: center;
}
.logo img{
margin-left: 120px;
width: 139px ;height: 60px;
}
nav .btn {
   background-color: #30B868;
   border: none;
   border-radius:4px ;
   font-size: 16px;
   font-weight: 600;
   line-height: 19px;
   color: #FFFFFF;
   padding: 12px 16px;
   margin-right: 120px;
   cursor: pointer;
   
}
#banner .banner-container{ 
    background-image: url(../assets/hero-bg.png);
    padding-top: 115px;
    height: 674px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
#banner .banner-container h3{
    width: 15%;
    display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 12px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 16px;
    color:#30B868;
    background-color: #FFFFFF;
}
#banner .banner-container h1{
    font-size: 72px;
    color: #FFFFFF;
}
#banner .banner-container .green{
    color: #30B868;
}
#banner .banner-container p{
    font-size: 18px;
    color: #FFFFFF;
    width: 45%;
    margin-bottom: 32px;
}
.banner-container .btn{
    font-size: 16px;
    font-style:600px;
    padding: 12px 16px;
}
.btn2{
    background: transparent;
}
.btn1{
    background-color: #30B868;
    color: white;
}